chessLeague{
    margin: auto;
    width: 1280px;
    height: 720px;

    font-weight: bold;
    background-color: #876624;
}
chessLeague:before{
	margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: plum;
    content: "Chess League: ";
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
teams,players, matches{
    float:left;
    background: #859dc4;
    margin: 10px 10px 10px 10px;
	width: 400px;
}
teams:before{
	 display: table;
    content: "Teams: ";
    font-weight: bold;
    font-size: 200%;
    color: #8e5164;
    margin: 5px 10px 5px 5px;
}
teams team name{
	margin: 5px 10px 5px 5px;
	display: block;
    font-weight: bold;
    font-size: 150%;
    color: blue;
}

players:before{
	 display: table;
    content: "Players: ";
    font-weight: bold;
    font-size: 200%;
    color: #8e5164;
    margin: 5px 10px 5px 5px;
}
matches:before{
	 display: table;
    content: "Matches: ";
    font-weight: bold;
    font-size: 200%;
    color: #8e5164;
    margin: 5px 10px 5px 5px;
}
/*teams name:before{
	display: block;
    content: "Name of team: ";
    font-weight: bold;
    font-size: 120%;
    color: #BECA11;
}*/
teams rank:before{
	display: block;
    content: "Current Rank: ";
    font-weight: bold;
    font-size: 120%;
    color: #BECA11;
}

staff first_coach:before{
	display: block;
    content: "First Coach: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
staff analising_coach:before{
	display: block;
    content: "Analising Coach: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}staff young_coach:before{
	display: block;
    content: "Young coach: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
teams address:before{
	display: block;
    content: "Adress: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
players firstname  {
margin: 5px 10px 5px 5px;
    font-weight: bold;
    font-size: 150%;
    color: blue;
}
players lastname {
	margin: 5px 10px 5px 5px;
    font-weight: bold;
    font-size: 150%;
    color: blue;
}
players
players elo{
	display: block;
}
players elo:before{
    content: "Elo Rating : ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
players individual_rank{
	display: block;
}
players individual_rank:before{
    content: "Individual rank: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
players nationality:before{
	 content: "Nationality: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
players country{
	display:block;
}
players games{
	display:block;
}
games wins:before{
	 content: "Wins: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
games draw:before{
	 content: "Draw: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
games lost:before{
	 content: "Lost: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
players player_team:before{
	display: block;
    content: "Team : ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
matches date{
	display: block;
}
matches date:before{
	 content: "Date of match: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
matches home_team{
	display: block;
}
matches home_team:before{
	 content: "Home team points: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}
matches away_team:before {
	display: block;
}
matches away_team:before{
	 content: "Away team points: ";
    font-weight: bold;
    font-size: 110%;
    color: #BECA11;
}

